[global]
   workgroup = WORKGROUP
   server string = %h Samba Server
   netbios name = {{ inventory_hostname }}
   security = user
   map to guest = Bad User
   guest account = {{ samba_force_user }}
   dns proxy = no
   log file = /var/log/samba/log.%m
   max log size = 1000

[{{ samba_share_name }}]
   path = {{ samba_share_path }}
   browseable = yes
   guest ok = {{ samba_guest_ok }}
   read only = {{ samba_read_only }}
   create mask = 0666
   directory mask = 0777
   force user = {{ samba_force_user }}
