all:
  hosts:
    localhost:
      ansible_connection: local

  children:
    proxmox:
      vars:
        ansible_user: root
        ansible_connection: ssh
        ansible_ssh_private_key_file: ~/.ssh/homelab

      hosts:
        pve:
          ansible_host: 192.168.1.100
        media:
          ansible_host: 192.168.1.101
        infra:
          ansible_host: 192.168.1.102
        database:
          ansible_host: 192.168.1.103
        minecraft:
          ansible_host: 192.168.1.105
        tools:
          ansible_host: 192.168.1.107
        authelia:
          ansible_host: 192.168.1.109

    monitored:
      hosts:
        pve:    {}
        media:  {}
        infra:  {}
        database: {}
