N8N_SECURE_COOKIE={{ n8n_secure_cookie }}
N8N_PORT={{ n8n_port }}
N8N_PROTOCOL={{ n8n_protocol }}
N8N_HOST={{ n8n_host }}
N8N_LISTEN_ADDRESS={{ n8n_listen_address }}
WEBHOOK_URL={{ n8n_webhook_url }}
NODE_FUNCTION_ALLOW_BUILTIN={{ n8n_node_function_allow_builtin }}
NODE_FUNCTION_ALLOW_EXTERNAL={{ n8n_node_function_allow_external }}
{% if n8n_db_type | default('') | length > 0 %}
DB_TYPE={{ n8n_db_type }}
DB_POSTGRESDB_HOST={{ n8n_db_host }}
DB_POSTGRESDB_PORT={{ n8n_db_port }}
DB_POSTGRESDB_DATABASE={{ n8n_db_name }}
DB_POSTGRESDB_USER={{ n8n_db_user }}
DB_POSTGRESDB_PASSWORD={{ n8n_db_password }}
{% endif %}
