log:
  filePath: "{{ traefik_log_file }}"
  level: INFO

accessLog:
  filePath: "{{ traefik_access_log_file }}"
  bufferingSize: 100

entryPoints:
  http:
    address: ":80"
    http:
      redirections:
        entrypoint:
          to: https
          scheme: https
  https:
    address: ":443"
{% for ep in traefik_extra_entrypoints %}

  {{ ep.name }}:
    address: ":{{ ep.port }}"
{% endfor %}

api: {}

{% if traefik_influxdb_enabled %}
metrics:
  influxDB2:
    address: "{{ traefik_influxdb_address }}"
    token: "{{ traefik_influxdb_token }}"
    bucket: "{{ traefik_influxdb_bucket }}"
    org: "{{ traefik_influxdb_org }}"
    addEntryPointsLabels: true
    addRoutersLabels: true
    addServicesLabels: true
    pushInterval: {{ traefik_influxdb_push_interval }}
    additionalLabels:
      environment: {{ traefik_influxdb_environment }}

{% endif %}
providers:
  file:
    directory: "{{ traefik_config_path }}/conf.d"
    watch: true

certificatesResolvers:
  {{ traefik_cert_resolver_name }}:
    acme:
      email: "{{ traefik_acme_email }}"
      storage: "{{ traefik_config_path }}/acme.json"
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "1.0.0.1:53"
