[Unit]
Description=Minecraft Server
After=network.target

[Service]
User={{ minecraft_server_user }}
Group={{ minecraft_server_group }}
WorkingDirectory={{ minecraft_server_home }}
ExecStart=/usr/bin/java -Xms{{ minecraft_server_memory_min }} -Xmx{{ minecraft_server_memory_max }} {{ minecraft_server_jvm_flags }} -jar {{ minecraft_server_jar }} nogui
TimeoutStopSec=60
Restart=on-failure
RestartSec=5
Type=simple
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
