[defaults]
inventory            = inventories/local
roles_path          = roles
vault_password_file  = vault.auth
host_key_checking    = False
collections_path = ./collections
callback_plugins = plugins/callbacks
callback_whitelist = auto_tags
vars_plugins = plugins/vars
vars_plugins_enabled = host_group_vars,network_json
