[Unit]
Description=Traefik
After=network.target

[Service]
ExecStart=/usr/local/bin/traefik --configFile=/etc/traefik/traefik.yml
EnvironmentFile=/etc/traefik/traefik.env
Restart=on-failure

[Install]
WantedBy=multi-user.target
