version: 1.1.8

allowedDomains:
  - "mcpo.local.batistela.tech"

mcpServers:
  actual-budget:
    type: "streamable-http"
    url: "{{ librechat_mcpo_url }}"
    timeout: 600000
    headers:
      Authorization: "Bearer {{ librechat_mcpo_api_key }}"
