version: "3.8"

services:
  jdownloader:
    image: jlesage/jdownloader-2:latest
    container_name: jdownloader
    restart: unless-stopped
    ports:
      - "{{ jdownloader_webui_port }}:5800"
      - "{{ jdownloader_myjd_port }}:3129"
    environment:
      - USER_ID={{ jdownloader_puid }}
      - GROUP_ID={{ jdownloader_pgid }}
      - TZ=America/Sao_Paulo
      - DISPLAY_WIDTH=1280
      - DISPLAY_HEIGHT=720
      - DARK_MODE=1
      - VNC_PASSWORD=
    volumes:
      - "{{ jdownloader_config_path }}:/config"
      - "{{ jdownloader_download_path }}:/output"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
